<style type="text/css">
    .row{
        margin-right:0px;
        margin-left:0px;
        text-align: right;
    }
</style>

<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-author"><a href="{{ url_for('main.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
            <div class="comment-body">
                {% if comment.body %}
                    {{ comment.body }}
                {% endif %}
            </div>

                <div class="row">
                        <a href="{{ url_for('main.deletecomment',id = comment.id)}}"><span class="label label-danger">删除评论</span></a>
                </div>

        </div>
    </li>
    {% endfor %}
</ul>