<style type="text/css">
    .col-xs-4 {
    text-align: left;
    font-weight: bold;
    margin-right:0px;
    margin-left:0px;
    }
    .col-xs-8{
       text-align: right; 
        margin-right:0px;
        margin-left:0px;
    }
    .row{
        margin-right:0px;
        margin-left:0px;
        text-align: right;
    }
}

</style>


<ul class="posts">
     {% for post in posts %}
     <li class="post">
         <div class="post-thumbnail">
             <a href="{{ url_for('main.user', username=post.author.username) }}">
                 <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
             </a>
         </div>
         <div class="post-content">
            <div class="post-author">
                <a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a>
            </div>
            <div class="post-body">
               <!--摘要-->
               {% if post.body %}
               <!--文章中有表格怎么办-->
                {{ post.body | safe| striptags |truncate(length=100,killwords=False) }}
                {% endif %}
                
            </div>
                <div class="row">
                    <div class="col-xs-4" >
                        {{ moment(post.timestamp).fromNow() }}
                    </div>
                    <div class = "col-xs-8">
                        <span class="label label-success">评论(  {{ post.comments.count() }} )</span>
                        <a href="{{ url_for('main.allonepost',id = post.id) }}">
                            <span class="label label-default">阅读全文</span>
                        </a>
                    </div>
            </div>
        </div>
     </li>
     {% endfor %}
 </ul>