
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
{% endblock %}

{% block page_content %}
	<div class="page-header">
		<h4><strong>Hello，
		{% if current_user.is_authenticated %}
		{{current_user.username}}。
		{% else %}
		瓜皮，你还没有登录。
		{% endif %}
		</strong></h4>
	</div>
	<div>
		{% if current_user.is_authenticated %}
			{% if form %}
				<div>
					<form method="post" action = "">
						{{ form.csrf_token }}
						{{ form.body(class = "ckeditor") }}
						<br>
						<button type="submit" class="btn btn-success">提交</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	</div>
	<br>
	<div>
		{% if posts %}
			{% include '_posts.html' %}
			<div class="pagination">
				{{ macros.pagination_widget(pagination,'main.index') }}
			</div>
		{% else %}
			暂无文章。
		{% endif %}
    </div>

{% endblock %}
