
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
		{% if current_user == user %}
		<h4>Hello，{{current_user.username}}。以下是你的关注。
		{% else %}
		无。
		{% endif %}
		</h4>
</div>
	
	<div>
		{% if posts %}
			{% include '_posts.html' %}
			{% if pagination %}
			<div class="pagination">
				{{ macros.pagination_widget(pagination,'main.myfollow') }}
			</div>
			{% endif %}
		{% else %}
			暂无文章。
		{% endif %}
    </div>

{% endblock %}
